<section class="videos">
  <div>
    <h3>Local Stream</h3>
    <video
      [muted]="true"
      autoplay
      playsinline
      [srcObject]="localStream$ | async"
    ></video>
  </div>
  <div>
    <h3>Remote Stream</h3>
    <video
      [muted]="true"
      autoplay
      playsinline
      [srcObject]="remoteStream$ | async"
    ></video>
  </div>
</section>

<h2>1. Create a meeting</h2>
<button (click)="createMeeting()">Create meeting</button>

<h2>2. Join a meeting</h2>
<p>Answer the call from a different browser window or device</p>
<input [(ngModel)]="meetingId" />
<button (click)="joinMeeting(meetingId)">Answer</button>

<!-- <h2>3. Hangup</h2>
<button>Hangup</button> -->
