@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

:host {
  display: block;
  position: relative;
}

uc-github-corner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999999;
}

main {
  padding: 40px 10px;
  font-family: 'Syne Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

video {
  --width: 40vw;
  width: var(--width);
  height: calc(var(--width) * 9 / 16);
  margin: 2rem;
  background: #2c3e50;
  transform: rotateY(180deg);
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
}
